.root {
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-text-fill: #222222;
}

.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #222222;
}

.button:hover {
    -fx-background-color: #d0d0d0;
}

.table-view {
    -fx-background-color: #ffffff;
}